* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

$negro: #000100;
$blanco: #f5f5f5;
$gris: #444444;
$lila: #c3acb8;
$lavanda: #d7c1d7d5;
$transparencia: rgba(158, 158, 158, 0.137);

body {
  background-image: url(../media/fondito.jpg);
  background-repeat: space repeat center;
  color: $negro;
  font-family: "Oswald", sans-serif;
}

.botones {
  font-size: 18px;
  font-family: oswald, sans-serif;
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  align-self: center;
  color: $blanco;
  background-color: $gris;
}

p {
  margin: 0px;
  font-size: 20px;
}

ol,
ul {
  padding-left: 0px;
}